body {background-image: url(http://soleadprod.fr/HRGfiles/subtle_grunge.png); background-repeat: repeat; font-family: 'Open Sans', sans-serif;}
.menu, .menu ul, .menu li {width: 150px;}
.menu li a {font-size: 13px}
.menu .menuLevel1 {margin-left: 20px; margin-top: 20px}
.menuPosition {width: 209px; height: 379px; background-size: contain}
.menu ul.menuLevel1 a.menuVisible:hover, .menu ul.menuLevel2 a.menuVisible:hover {background-color: rgb(0, 162, 227)}
td.header {background-image : url(http://soleadprod.fr/HRGfiles/copenhague_banner.png); background-repeat: no-repeat; background-position: center center;}
.mainContent {background-color: #FFFFFF; margin: 5px 0px 0px 5px; padding: 5px; } 
.mainContent p {font-size: 15px; letter-spacing: -0.5px;}
#rever {width: 807px; margin-left: 5px}